.login-and-register{
    // display: flex;
    // justify-content: space-between;
    // margin: 10px auto;
    // width: 60%;
    // border: 1px solid gray;

    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}